* {
	margin: 0;
	padding: 0;
}

body {
	font: 62.5% Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0;
	padding: 0;
	background: #fff;
}

h1, h2 {
	color: #000;
	font-family: Tahoma, Arial, Geneva, sans-serif;
	font-size:12px;
	font-weight:bolder;
}

hr {
	border-bottom: 1px solid #CCC; width: 640px;
}

p {
	margin: 10px 0;
	padding: 0;
}

blockquote {
	font-style: italic;	
}

#header-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;	
}

#header-container {
	height: 38px;
	background-color:#0099FF;
	border-bottom:1px solid #7A7A7A;
}

#header {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#header h1 {
	color: #fff;
	text-align: left;
	margin: 0;
	float:left;
	left: 0;
	margin-top: 10px;
	font-size:14px;
	text-shadow: 0px 1px 1px #000;
}

#header h1 em{
	color: #90b874;
	font-size: small;
	display: block;
}

#header-filename {
	color:#fff;
	font-size:12px;
	float:right;
	margin-top:13px;
	text-shadow: 0px 1px 0px #000;
}

#header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 35px;
	right: 0;
}

#header ul li {
	float: left;
	margin-right: 5px;
}

#header ul li a{
	color: #90b874;
	font-weight: bold;
	font-size: 1.4em;
	margin-right: 5px;
	text-decoration: none;
}

#header ul li a:hover {
	color: #beffbf;	
}

#nav-container {
	height: 30px;
	background-color:#E4E4E4;
	border-bottom:1px solid #7A7A7A;
	box-shadow: 0px 0px 2px #000;
}

#nav {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	padding-top:8px;
}

.nav-text {
	font-color:000;
	font-size: 12px;
	font-weight:bolder;
}

#bug-toggle {
	color:#000;
	font-size:12px;
	float:right;
	vertical-align:middle;
}

#bug-toggle img{
	padding-right:5px; 
	vertical-align:middle;
}

#white-box {
	width:27px;
	height:18px;
	background-color:#fff;
	border: 1px solid #CCCCCC;
	float:right;
	margin-left:10px;
	padding-left:10px;
	padding-top:3px;
	margin-top:-4px;
}

#container {
	width: 1000px;
	margin: 0 auto;
	font-size:12px;
	overflow: auto;
	padding: 70px 0 0px;
	background-color:#f8f8f8;
}

#content {
	float: left;
	width: 660px;
	padding-top:20px;
	padding-left:20px;
	padding-right:10px;
}

.fnc-report {
	font-size:12px;
}

#error-box {
	font-size:12px;
	font-color:000;
	float:left;
}

#report-count{
	font-size:12px;
	font-color:000;
	float:right;	
}

#sidebar {
	float: right;
	width: 300px;
	background-color:#EBEBEB;
	min-height:700px;
	padding-top:60px;
}

.annotation-box {
	background-color:#fff;
	border: 1px solid #CCC;
	width:278px;
	min-height:55px;
	margin-left:10px;
	margin-bottom:10px;
	padding:5px;
	line-height:20px;
}

.annotation-box img {
	vertical-align:middle;
}

.annotation-box.selected {
	background-color:#FEF8CB;
	border: 1px solid #FFE181;
	margin-left:-10px;
}

#annotation-comment {
	margin-top:5px;
	line-height:20px;
}

#footer-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;	
}

#footer-container {
	height: 30px;
	background-color:#0099FF;
}

#footer {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
#footer-text {
	font-size:12px;
	color:#fff;
	padding-top:8px;
	text-shadow: 0px 1px 0px #000;	
}